@{ Layout = "~/Views/Shared/_lightLayout.cshtml"; }
@model LabExtimOperator.Models.LoginModel
<div align="center" class="accountHeader">
    <h2>
        Log In
    </h2>
    @*<p>
        Please enter your username and password. @Html.ActionLink("Register", "Register")
        if you don't have an account.</p>*@
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div align="center">
        @Html.DevExpress().Label(settings =>
       {
           settings.Name = "UserNameLabel";
           settings.Text = "User Name";
           settings.AssociatedControlName = "UserName";
       }).GetHtml()
    </div>

    <div align="center" class="form-field">
        @Html.EditorFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>

    <div align="center">
        @Html.DevExpress().Label(settings =>
        {
            settings.Name = "PasswordLabel";
            settings.Text = "Password";
            settings.AssociatedControlName = "Password";
        }).GetHtml()
    </div>

    <div align="center" class="form-field">
        @Html.EditorFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    @*<div align="center" class="form-field">
             @Html.DevExpress().CheckBox(settings =>
        {
            settings.Name = "RememberMe";
            settings.Text = "Remember me?";
        }).GetHtml()
         </div>*@

    <div align="center">
        @Html.DevExpress().Button(settings =>
        {
            settings.Name = "Button";
            settings.Text = "Accedi";
            settings.UseSubmitBehavior = true;
        }).GetHtml()
    </div>
}
