@model DLLabExtim.DeliveryTripDetail

@{
    ViewBag.Title = "Delivery trip";
}

@{
    <table class="testata_lista">
        <tr>
            <td>
                Operatore : @ViewBag.UserName &nbsp; Odp corrente: @ViewBag.IdODP
            </td>
            <td>
                @using (Html.BeginForm("Index", "DeliveryTrip"))
                {
                    <table align="right">
                        <tr>
                            <td>
                                @Html.DevExpress().Button(settings =>
                                {
                                    settings.Name = "btnGoTOOdP";
                                    settings.Text = "Vai alle denunce produzione";
                                    settings.UseSubmitBehavior = false;
                                    settings.RouteValues = new { Controller = "TempProductionOrderDetail", Action = "Index" };
                                }).GetHtml()
                            </td>
                            @*<td style="padding-right:15px;">
                                Data:
                            </td>
                            <td>
                                @Html.DevExpress().DateEdit(settings =>
                                                {
                                                    settings.Name = "curDate";
                                                    settings.Date = @ViewBag.CurrentDate;
                                                }).GetHtml()
                            </td>
                            <td style="width: 15px"></td>
                            <td>
                                @Html.DevExpress().Button(settings =>
                                {
                                    settings.Name = "Button";
                                    settings.Text = "Cambia data";
                                    settings.UseSubmitBehavior = true;
                                }).GetHtml()
                            </td>*@
                        </tr>

                    </table>
                }
            </td>
        </tr>
    </table>
}

@Html.Action("DeliveryTripViewPartial", "DeliveryTrip")
@Html.Action("DeliveryTripDetailViewPartial", "DeliveryTripDetail")

@*<table class="testata_lista">
    <tr>
        <td class="center">
            <span>
                Inserire i commenti da comunicare alla direzione al termine del proprio turno di lavoro e fare click su 'Fine giornata' per salvarli ed inviarli via mail.
            </span>
            @using (Html.BeginForm("CloseDay", "TempProductionOrderDetail"))
            {
                <table style="width:100%">
                    <tr>
                        <td>
                            <input type="hidden" name="curDate" value="@ViewBag.CurrentDate" />
                            @Html.DevExpress().Memo(settings =>
           {
               settings.Name = "txtCloseOfDayNote";
               settings.Text = @ViewBag.CurrentCloseOfDaysNote;
               settings.Width = Unit.Percentage(100);
               settings.Height = Unit.Pixel(120);
           }).GetHtml()
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DevExpress().Button(settings =>
                                {
                                    settings.Name = "btnCloseOfDay";
                                    settings.Text = "Fine giornata";
                                    settings.UseSubmitBehavior = true;
                                }).GetHtml()
                        </td>
                    </tr>
                </table>
            }
        </td>
    </tr>
</table>*@
